html {
    scroll-behavior: smooth
}

h3 {
    display: inline;
}

header {
    margin-bottom: 20px;
}

main {
    border-top: 1px solid rgb(127, 123, 123);
    border-bottom: 1px solid rgb(127, 123, 123);
}

div nav a {
    text-decoration: underline;
    color: black;
}

nav {
    margin-top: 10px;
}


form {
    border-bottom: 1px solid rgb(127, 123, 123);
    padding: 10px;
}

